.cursos__container {
    color: white;
    text-align: justify;
}

.cursos__titulo {
    text-align: center;
}

.cursos__container p {
    padding: 0.10rem;
    margin: 0;
}

.cursos__container b {
    color: var(--main3);
}

.cursos__lista {
    padding: 20px;
}

.cursos__item {
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    background-color: var(--bg-light);
}

.cursos__item__logo {
    padding: 0.4rem;
    margin: 0.4rem;
    color: var(--main3);
}

.cursos__logo {
    height: 50px;
    padding: 0.40rem;
    margin: 0.40rem;
}