.formacion__container {
    color: white;
}

.formacion__titulo {
    text-align: center;
}

.formacion__card {
    background-color: var(--bg-light);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.formacion__subtitulo {
    font-weight: 550;
    padding: 5px;
    border-bottom: 1px solid var(--text-color);
}

.formacion__titulo,
.formacion__subtitulo {
    user-select: none;
}

.formacion__container b {
    color: var(--dark1);
}

.formacion__container p {
    padding: 0px 20px;
}