.habilidades__container {
    color: white;
    text-align: justify;
    width: 100%;
    padding: 0;
}

.habilidades__stack {
    padding: 1rem;
    margin: 0.5rem;
    background-color: var(--bg-light);
    border-radius: 0.5rem;
}

.habilidades__names {
    color: var(--main1);
}

.habilidades__icon {
    padding: 0.2rem 0.5rem;
}