.info__container {
    color: white;
    text-align: justify;
    height: fit-content;
}

.info__container h2 {
    color: var(--main2);
}

.info__container a {
    color: var(--main2)
}

.info__reconocimientos__lista div {
    padding: 20px;
    margin: 10px;
    background-color: var(--bg-light);
    border-radius: 10px;
}

.info__reconocimiento p b {
    color: var(--main2);
}

.info-logo {
    height: 50px;
}

.info-idioma-flag {
    height: 1.5rem;
}

#idiomas-esp,
#idiomas-eng,
.info__contacto div {
    background-color: var(--bg-light);
    padding: 1rem;
    border-radius: 0.75rem;
    margin: 10px;
}

#idiomas-eng div {
    padding: 0px 10px;
}

#idiomas-eng div b {
    color: var(--main2);
}

.info__icon {
    padding-right: 1rem;
}