.nav__container {
    display: flex;
    position: relative;
    z-index: 1000;
    color: var(--text-color);
}

.nav__return,
.nav__forward {
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
    border: none;
}

.nav__return:hover,
.nav__forward:hover,
.nav__dropdown:hover {
    background-color: var(--bg-light);
    cursor: pointer;
    color: var(--main1);
}

.nav__return .nav__return_text,
.nav__forward .nav__forward_text {
    font-size: 1rem;
    font-weight: normal;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.nav__dropdown {
    padding: 20px 0px;
    background-color: var(--bg-color);
    flex-grow: 10;
    font-size: 25px;
    text-align: center;
    user-select: none;
}

.nav__menu {
    position: absolute;
    width: 100%;
    top: 100%;
    transform: scale(0%);
    color: var(--text-color);
}

.nav__menu__link {
    user-select: none;
    display: block;
    padding: 20px;
    background-color: var(--bg-color);
    color: var(--text-color);
    text-decoration: none;
    text-align: center;

}

.nav__menu__link:hover:nth-child(3n) {
    background-color: var(--bg-light);
    color: var(--main1);
}

.nav__menu__link:hover:nth-child(3n+1) {
    background-color: var(--bg-light);
    color: var(--main2);
}

.nav__menu__link:hover:nth-child(3n+2) {
    background-color: var(--bg-light);
    color: var(--main3);
}

.nav__open-menu {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    100% {
        transform: scaleY(1)
    }
}