.proyectos__container {
    color: white;
    text-align: justify;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.proyectos__container div {
    user-select: none;
}

.arrow {
    display: inline-block;
}

.proyecto__open {
    transform: rotate(90deg);
    transition: transform 500ms;
}

.proyecto__close {
    transform: rotate(0deg);
    transition: transform 500ms;
}

.proyectos__textbook {
    position: relative;
}

.textbook-info,
.textbook-react-info,
.chat-realtime-info,
.cuatro-en-linea-info {
    height: 0;
    padding: 0px 20px;
    transition: all 0.6s ease;
    overflow: hidden;
    text-align: start;
}

.textbook-info-text-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px
}

.textbook-info-text {
    width: 45%;
}

#textbook-img-container {
    width: 45%;
}

#textbook-img {
    width: 100%;
    object-fit: contain;
}


.chat-realtime-text-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.chat-realtime-text {
    width: 30%;
}

#chat-img-container {
    width: 65%;

}

#chat-img {
    width: 100%;
    object-fit: contain;
}


.cuatro-text-img {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cuatro-text {
    width: 40%;
}

#cuatro-img-container {
    width: 55%;
}

#cuatro-img {
    width: 100%;
    object-fit: contain;
}

.proyectos__container a {
    /*color: var(--base-color);*/
    color: white;
    transition: all 0.4s ease;
}

.proyectos__container a:hover {
    color: var(--base-color);
    /*color: white;*/

}

.proyectos__container h2 {
    display: inline-block;
}

.proyectos__container h2:hover {
    cursor: pointer;
    color: #fff;
}

.proyectos__container h2,
.proyectos__container h3,
.arrow {
    color: var(--base-color);
    /*
    color: #000;
    text-shadow: 0px 0px 5px var(--base-color);*/
    transition: all 0.4s ease;
}

#textbook-img-container,
#chat-img-container,
#cuatro-img-container {
    display: flex;
    align-content: center;
}


@media only screen and (max-width:800px) {

    .textbook-info-text,
    .chat-realtime-text,
    .cuatro-text {
        width: 100%;
    }

    #textbook-img-container,
    #chat-img-container,
    #cuatro-img-container {
        width: 100%;
    }


}