html {
    overflow-x: hidden;
}

body {
    --bg-color: #3a4b4d;
    --menu-color: #0d5c63;
    --hover-color: #1d6c73;
    --base-color: #138690;
    --sec-color: #7db8c5;
    --ter-color: #afece7;
    --cuar-color: #81f499;
    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.App {
    margin: auto;
    width: 700px;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;
}

.page {
    position: absolute;
    top: auto;
    left: 0;
    transform: translate(-100vw);
    opacity: 0;
    padding: 20px;
}

.inicio__container {
    opacity: 1;
}

@media only screen and (max-width:700px) {
    body {
        background-color: var(--bg-color);
        overflow-x: hidden;
        width: 100vw;
    }

    .App {
        max-width: 100vw;
        background-color: var(--bg-color);
        overflow-x: hidden;
    }
}