html {
    overflow-x: hidden;
}

body {
    /*
    Colores: para los fondos y tipografías se van a usar colores neutrales
    Los colores main y dark se van a usar para cartas y contenido
    */
    --bg-color: #101010;
    --bg-light: #282828;
    --text-color: #f8f8f8;
    --text-color2: #e8e8e8;
    --main1: #75EBB5;
    --main2: #E6B170;
    --main3: #6E65E6;
    --dark1: #5A997D;
    --dark2: #b9813c;
    --dark3: #423C99;

    background-color: var(--bg-color);
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

.App {
    margin: auto;
    width: 700px;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;
}

.pages {
    max-height: 100%;
}

.page {
    position: absolute;
    display: none;
    top: auto;
    left: 0;
    height: 0;
    transform: translate(-100vw);
    opacity: 0;
    padding: 20px;
}

.inicio__container {
    opacity: 1;
    height: 100%;
    display: block;
}

@media only screen and (max-width:700px) {
    body {
        background-color: var(--bg-color);
        overflow-x: hidden;
        width: 100vw;
    }

    .App {
        max-width: 100vw;
        background-color: var(--bg-color);
        overflow-x: hidden;
    }
}